@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.movieDetailsContainer {
  margin-top: var(--header-height);
  min-height: 100vh;
}
.movieDetailsContainer p,
.movieDetailsContainer h2,
.movieDetailsContainer h3,
.movieDetailsContainer h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.trailerContainer {
  position: relative;
  padding-top: 56.25%;
}
.trailerContainerBlank {
  position: relative;
  padding-top: 56.25%;
  padding-left: 1%;
  color: rgb(253, 204, 13);
}
.trailerPlayer {
  position: absolute;
  top: 0;
  left: 0;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailsContainer {
  color: var(--white);
  margin-top: 40px;
  padding: 0 30px;
}
.detailsLight {
  background-color: var(--light-bg);
  color: black;
}
.detailsPoster {
  width: 280px;
  border-radius: 8px;
}
.infoContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.movieInfo {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.movieInfo h3 {
  margin-bottom: 10px;
}
.reviewContainer {
  margin-top: 20px;
  padding: 20px 0;
}
.reviewContainer p {
  cursor: pointer;
}
.reviewsTitle {
  border-bottom: solid 2px gray;
  padding-bottom: 10px;
  font-size: 1.5rem;
}
.reviewNumber {
  margin-top: 10px;
  cursor: pointer;
  color: gray;
}
@media (max-width: 768px) {
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .movieInfo {
    margin-top: 20px;
  }
  .movieInfo h2,
  .movieInfo h3,
  .movieInfo h4 {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .movieDetailsContainer {
    margin-top: var(--header-height-mobile);
  }
}
